In [112]:
import requests

credentials = {
                
                    "API_KEY":"46ijg5pbb6vazrmhlaed29j7e9mn9su2",
                    "ACCOUNT_ID":"3YZ7BTDC"
}

In [113]:
import pandas as pd

In [15]:
# using rest_id

In [ ]:
/api/20200803/location.json?id=London&fields=id,score,name,parent_id,country_id,snippet,climate,coordinates,type,snippet_language_info

In [114]:
class TriposoApi():

    def __init__(self,ACCOUNT_ID,API_KEY):
        self.API_KEY = API_KEY
        self.ACCOUNT_ID = ACCOUNT_ID
        self.base_url = "https://www.triposo.com/api/20200803/"
        # the api key is passed in the header of the url
        self.headers = {"X-Triposo-Account":"{}".format(self.ACCOUNT_ID),
                       "X-Triposo-Token":"{}".format(self.API_KEY)}
        
    def search_location(self,id,fields):
        self.id = id
        self.fields = fields
        self.search_url = self.base_url + "location.json"

        self.params = {
            'id' : "{}".format(self.id),
            'fields' : "{}".format(self.fields)
            }

        self.response = requests.get(self.search_url,headers=self.headers,params=self.params)
        print(self.response.url)
        return self.response.json()
    
    def getlocationdetails(self,jsonObj):
        
        if 'code' in jsonObj.keys():
            
            return 'Location Not Found/Invalid Request'
        
        elif jsonObj['results'] == []:
            
            return 'Location Not Found/Invalid Request'
        
        else:        
            final_list = []
            Location_Det = jsonObj
            #print(Location_Det)
            Location_ID = Location_Det['results'][0]['id']
            Parent_ID = Location_Det['results'][0]['parent_id']
            Latitude = Location_Det['results'][0]['coordinates']['latitude']
            Longitude = Location_Det['results'][0]['coordinates']['longitude']
            Score = Location_Det['results'][0]['score']
            Country_ID = Location_Det['results'][0]['country_id']
            Type = Location_Det['results'][0]['type']
            Name = Location_Det['results'][0]['name']
            Snippet_Language = Location_Det['results'][0]['snippet_language_info']
            Snippet = Location_Det['results'][0]['snippet']
            
            if Location_Det['results'][0]['climate'] != None:
                
                Temp_Avg_Max_Jan = Location_Det['results'][0]['climate']['temperature']['average_max']['months'][0]
                Temp_Avg_Max_Feb = Location_Det['results'][0]['climate']['temperature']['average_max']['months'][1]
                Temp_Avg_Max_Mar = Location_Det['results'][0]['climate']['temperature']['average_max']['months'][2]
                Temp_Avg_Max_Apr = Location_Det['results'][0]['climate']['temperature']['average_max']['months'][3]
                Temp_Avg_Max_May = Location_Det['results'][0]['climate']['temperature']['average_max']['months'][4]
                Temp_Avg_Max_Jun = Location_Det['results'][0]['climate']['temperature']['average_max']['months'][5]
                Temp_Avg_Max_Jul = Location_Det['results'][0]['climate']['temperature']['average_max']['months'][6]
                Temp_Avg_Max_Aug = Location_Det['results'][0]['climate']['temperature']['average_max']['months'][7]
                Temp_Avg_Max_Sep = Location_Det['results'][0]['climate']['temperature']['average_max']['months'][8]
                Temp_Avg_Max_Oct = Location_Det['results'][0]['climate']['temperature']['average_max']['months'][9]
                Temp_Avg_Max_Nov = Location_Det['results'][0]['climate']['temperature']['average_max']['months'][10]
                Temp_Avg_Max_Dec = Location_Det['results'][0]['climate']['temperature']['average_max']['months'][11]
                Temp_Avg_Min_Jan = Location_Det['results'][0]['climate']['temperature']['average_min']['months'][0]
                Temp_Avg_Min_Feb = Location_Det['results'][0]['climate']['temperature']['average_min']['months'][1]
                Temp_Avg_Min_Mar = Location_Det['results'][0]['climate']['temperature']['average_min']['months'][2]
                Temp_Avg_Min_Apr = Location_Det['results'][0]['climate']['temperature']['average_min']['months'][3]
                Temp_Avg_Min_May = Location_Det['results'][0]['climate']['temperature']['average_min']['months'][4]
                Temp_Avg_Min_Jun = Location_Det['results'][0]['climate']['temperature']['average_min']['months'][5]
                Temp_Avg_Min_Jul = Location_Det['results'][0]['climate']['temperature']['average_min']['months'][6]
                Temp_Avg_Min_Aug = Location_Det['results'][0]['climate']['temperature']['average_min']['months'][7]
                Temp_Avg_Min_Sep = Location_Det['results'][0]['climate']['temperature']['average_min']['months'][8]
                Temp_Avg_Min_Oct = Location_Det['results'][0]['climate']['temperature']['average_min']['months'][9]
                Temp_Avg_Min_Nov = Location_Det['results'][0]['climate']['temperature']['average_min']['months'][10]
                Temp_Avg_Min_Dec = Location_Det['results'][0]['climate']['temperature']['average_min']['months'][11]
                
            else:
                Temp_Avg_Max_Jan = 'NA'
                Temp_Avg_Max_Feb = 'NA'
                Temp_Avg_Max_Mar = 'NA'
                Temp_Avg_Max_Apr = 'NA'
                Temp_Avg_Max_May = 'NA'
                Temp_Avg_Max_Jun = 'NA'
                Temp_Avg_Max_Jul = 'NA'
                Temp_Avg_Max_Aug = 'NA'
                Temp_Avg_Max_Sep = 'NA'
                Temp_Avg_Max_Oct = 'NA'
                Temp_Avg_Max_Nov = 'NA'
                Temp_Avg_Max_Dec = 'NA'
                Temp_Avg_Min_Jan = 'NA'
                Temp_Avg_Min_Feb = 'NA'
                Temp_Avg_Min_Mar = 'NA'
                Temp_Avg_Min_Apr = 'NA'
                Temp_Avg_Min_May = 'NA'
                Temp_Avg_Min_Jun = 'NA'
                Temp_Avg_Min_Jul = 'NA'
                Temp_Avg_Min_Aug = 'NA'
                Temp_Avg_Min_Sep = 'NA'
                Temp_Avg_Min_Oct = 'NA'
                Temp_Avg_Min_Nov = 'NA'
                Temp_Avg_Min_Dec = 'NA'

            final_list.append([Location_ID,Parent_ID,Name,Country_ID,Type,Snippet,Snippet_Language,
                               Temp_Avg_Min_Jan,Temp_Avg_Max_Jan,Temp_Avg_Min_Feb,Temp_Avg_Max_Feb,Temp_Avg_Min_Mar,
                               Temp_Avg_Max_Mar,Temp_Avg_Min_Apr,Temp_Avg_Max_Apr,Temp_Avg_Min_May,Temp_Avg_Max_May,
                               Temp_Avg_Min_Jun,Temp_Avg_Max_Jun,Temp_Avg_Min_Jul,Temp_Avg_Max_Jul,Temp_Avg_Min_Aug,
                               Temp_Avg_Max_Aug,Temp_Avg_Min_Sep,Temp_Avg_Max_Sep,Temp_Avg_Min_Oct,Temp_Avg_Max_Oct,
                               Temp_Avg_Min_Nov,Temp_Avg_Max_Nov,Temp_Avg_Min_Dec,Temp_Avg_Max_Dec])
            cols = ['Location_ID','Parent_ID','Name','Country_ID','Type','Snippet','Snippet_Language',
                    'Temp_Avg_Min_Jan','Temp_Avg_Max_Jan','Temp_Avg_Min_Feb','Temp_Avg_Max_Feb','Temp_Avg_Min_Mar',
                    'Temp_Avg_Max_Mar','Temp_Avg_Min_Apr','Temp_Avg_Max_Apr','Temp_Avg_Min_May','Temp_Avg_Max_May',
                    'Temp_Avg_Min_Jun','Temp_Avg_Max_Jun','Temp_Avg_Min_Jul','Temp_Avg_Max_Jul','Temp_Avg_Min_Aug',
                    'Temp_Avg_Max_Aug','Temp_Avg_Min_Sep','Temp_Avg_Max_Sep','Temp_Avg_Min_Oct','Temp_Avg_Max_Oct',
                    'Temp_Avg_Min_Nov','Temp_Avg_Max_Nov','Temp_Avg_Min_Dec','Temp_Avg_Max_Dec']

            loc = pd.DataFrame(columns = cols)
            for i in range(len(final_list)):    
                df_length = len(loc)
                loc.loc[df_length] = final_list[i]

            return loc

In [103]:
if __name__ == '__main__':
    app = TriposoApi(credentials['ACCOUNT_ID'],credentials['API_KEY'])
    v = app.search_location('Luxembourg','id,score,name,parent_id,country_id,snippet,climate,coordinates,type,snippet_language_info')
    Location_Details = app.getlocationdetails(v)

https://www.triposo.com/api/20200803/location.json?id=Luxembourg&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info

In [104]:
Location_Details

,Location_ID,Parent_ID,Name,Country_ID,Type,Snippet,Snippet_Language,Temp_Avg_Min_Jan,Temp_Avg_Max_Jan,Temp_Avg_Min_Feb,...,Temp_Avg_Min_Aug,Temp_Avg_Max_Aug,Temp_Avg_Min_Sep,Temp_Avg_Max_Sep,Temp_Avg_Min_Oct,Temp_Avg_Max_Oct,Temp_Avg_Min_Nov,Temp_Avg_Max_Nov,Temp_Avg_Min_Dec,Temp_Avg_Max_Dec
0,Luxembourg,None,Luxembourg,Luxembourg,country,This small duchy once laid claims upon the ent...,None,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

In [121]:
# reading the CSV file into pandas dataframe
Cities_df = pd.read_csv("Cities_3.csv")

In [122]:
Cities_df

                            City
0     Atlantic_City2C_New_Jersey
1                    wv__Beijing
2          Berkeley2C_California
3                       Brisbane
4               Durham2C_England
5            Essex2C_Connecticut
6                        Hanover
7               Ho_Chi_Minh_City
8            Republic_of_Ireland
9         Kansas_City2C_Missouri
10                     wv__Macau
11           Madison2C_Wisconsin
12                       MalC3A9
13  Manhattan_Beach2C_California
14                      Virginia

In [34]:
pd.set_option('display.max_columns', None)

In [81]:
Cities = ['London','DUBAI']

In [123]:
cols = ['Location_ID','Parent_ID','Name','Country_ID','Type','Snippet','Snippet_Language',
        'Temp_Avg_Min_Jan','Temp_Avg_Max_Jan','Temp_Avg_Min_Feb','Temp_Avg_Max_Feb','Temp_Avg_Min_Mar',
        'Temp_Avg_Max_Mar','Temp_Avg_Min_Apr','Temp_Avg_Max_Apr','Temp_Avg_Min_May','Temp_Avg_Max_May',
        'Temp_Avg_Min_Jun','Temp_Avg_Max_Jun','Temp_Avg_Min_Jul','Temp_Avg_Max_Jul','Temp_Avg_Min_Aug',
        'Temp_Avg_Max_Aug','Temp_Avg_Min_Sep','Temp_Avg_Max_Sep','Temp_Avg_Min_Oct','Temp_Avg_Max_Oct',
        'Temp_Avg_Min_Nov','Temp_Avg_Max_Nov','Temp_Avg_Min_Dec','Temp_Avg_Max_Dec']

LOCATION_DATA = pd.DataFrame(columns = cols)
CITIES_NOT_FOUND = []

for city in Cities_df.values.tolist():
#for city in Cities:
    
    cols = ['Location_ID','Parent_ID','Name','Country_ID','Type','Snippet','Snippet_Language',
        'Temp_Avg_Min_Jan','Temp_Avg_Max_Jan','Temp_Avg_Min_Feb','Temp_Avg_Max_Feb','Temp_Avg_Min_Mar',
        'Temp_Avg_Max_Mar','Temp_Avg_Min_Apr','Temp_Avg_Max_Apr','Temp_Avg_Min_May','Temp_Avg_Max_May',
        'Temp_Avg_Min_Jun','Temp_Avg_Max_Jun','Temp_Avg_Min_Jul','Temp_Avg_Max_Jul','Temp_Avg_Min_Aug',
        'Temp_Avg_Max_Aug','Temp_Avg_Min_Sep','Temp_Avg_Max_Sep','Temp_Avg_Min_Oct','Temp_Avg_Max_Oct',
        'Temp_Avg_Min_Nov','Temp_Avg_Max_Nov','Temp_Avg_Min_Dec','Temp_Avg_Max_Dec']

    Loc_Data = pd.DataFrame(columns = cols)

    if __name__ == '__main__':
        app = TriposoApi(credentials['ACCOUNT_ID'],credentials['API_KEY'])
        v = app.search_location(city[0],'id,score,name,parent_id,country_id,snippet,climate,coordinates,type,snippet_language_info')
        Location_Details = app.getlocationdetails(v)
        #print(Location_Details)
    if type(Location_Details) != str:
        Loc_Data = pd.concat([Loc_Data,Location_Details])
        LOCATION_DATA = LOCATION_DATA.append(Loc_Data)
    else:
        CITIES_NOT_FOUND.append(city)

https://www.triposo.com/api/20200803/location.json?id=Atlantic_City2C_New_Jersey&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info
https://www.triposo.com/api/20200803/location.json?id=wv__Beijing&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info
https://www.triposo.com/api/20200803/location.json?id=Berkeley2C_California&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info
https://www.triposo.com/api/20200803/location.json?id=Brisbane&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info
https://www.triposo.com/api/20200803/location.json?id=Durham2C_England&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info
https://www.triposo.com/api/20200803/location.json?id=Essex2C_Connecticut&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info
https://www.triposo.com/api/20200803/location.json?id=Hanover&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info
https://www.triposo.com/api/20200803/location.json?id=Ho_Chi_Minh_City&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info
https://www.triposo.com/api/20200803/location.json?id=Republic_of_Ireland&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info
https://www.triposo.com/api/20200803/location.json?id=Kansas_City2C_Missouri&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info
https://www.triposo.com/api/20200803/location.json?id=wv__Macau&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info
https://www.triposo.com/api/20200803/location.json?id=Madison2C_Wisconsin&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info
https://www.triposo.com/api/20200803/location.json?id=MalC3A9&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info
https://www.triposo.com/api/20200803/location.json?id=Manhattan_Beach2C_California&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info
https://www.triposo.com/api/20200803/location.json?id=Virginia&fields=id%2Cscore%2Cname%2Cparent_id%2Ccountry_id%2Csnippet%2Cclimate%2Ccoordinates%2Ctype%2Csnippet_language_info

In [124]:
LOCATION_DATA

,Location_ID,Parent_ID,Name,Country_ID,Type,Snippet,Snippet_Language,Temp_Avg_Min_Jan,Temp_Avg_Max_Jan,Temp_Avg_Min_Feb,...,Temp_Avg_Min_Aug,Temp_Avg_Max_Aug,Temp_Avg_Min_Sep,Temp_Avg_Max_Sep,Temp_Avg_Min_Oct,Temp_Avg_Max_Oct,Temp_Avg_Min_Nov,Temp_Avg_Max_Nov,Temp_Avg_Min_Dec,Temp_Avg_Max_Dec
0,Atlantic_City2C_New_Jersey,New_Jersey,Atlantic City,United_States,city,Known for gambling. Recommended places to visi...,None,-1.55556,5.44444,-0.611111,...,20.9444,26.7778,17.5,23.7778,11.3889,18.3333,6.05556,13.2222,0.833333,7.94444
0,wv__Beijing,China,Beijing,China,city,Known for natural attractions. Recommended pla...,None,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
0,Berkeley2C_California,California,Berkeley,United_States,city,Known for places to eat and drink. Recommended...,None,5.55556,14.6667,6.77778,...,12.1667,23.5,11.8889,23.7778,10.8333,22.5,8.11111,18.2222,5.88889,14.7778
0,Brisbane,wv__Queensland,Brisbane,Australia,city,Known for natural attractions. Recommended pla...,None,21.7,30.5,21.4,...,10.8,23.4,13.8,25.7,16.4,27,18.8,28.3,20.4,29.6
0,Durham2C_England,wv__North_East_England,Durham,United_Kingdom,city,Known for lunch. Recommended places to visit a...,None,0.9,6.6,0.9,...,11,19.8,9,17.2,6.3,13.3,3.4,9.4,1.1,6.7
0,Essex2C_Connecticut,Connecticut,Essex,United_States,city,Known for wellness. Recommended places to visi...,None,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
0,Hanover,wv__Lower_Saxony,Hanover,Germany,city,Known for relax in a park. Recommended places ...,None,-1.1,4,-1.1,...,12.9,23.2,9.9,18.9,6.4,13.7,2.8,8.1,-0.2,4.5
0,Ho_Chi_Minh_City,wv__Southern_Vietnam,Ho Chi Minh City,Vietnam,city,Known for lunch. Recommended places to visit a...,None,21.1,31.6,22.5,...,24.3,31.8,24.4,31.3,23.9,31.2,22.8,31,21.4,30.8
0,Republic_of_Ireland,None,Republic of Ireland,Republic_of_Ireland,country,Ireland is often called the 'Emerald Isle'. It...,None,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
0,Kansas_City2C_Missouri,Missouri,Kansas City,United_States,city,Known for dinner. Recommended places to visit ...,None,-6.11111,3.75,-3.86111,...,20.2778,31.1111,14.9444,26.3889,8.55556,19.6389,1.86111,12.0556,-4.38889,5.02778
0,wv__Macau,China,Macau,China,city,A former Portuguese colony with liberal gambli...,None,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
0,Madison2C_Wisconsin,Wisconsin,Madison,United_States,city,Known for places to eat and drink. Recommended...,None,-11.6111,-3.11111,-9.38889,...,15,26.3333,10.1111,22.1111,3.77778,14.9444,-2.11111,6.72222,-8.94444,-1
0,MalC3A9,Maldives,Malé,Maldives,island,Known for beaches. Recommended places to visit...,None,25.7,30.3,25.9,...,25.5,30.4,25.3,30.2,25.4,30.2,25.2,30.1,25.4,30.1
0,Manhattan_Beach2C_California,California,Manhattan Beach,United_States,city,Known for beaches. Recommended places to visit...,None,9.61111,18.2778,10.1111,...,18,24,17.1667,23.8333,15.1667,22.6667,11.8333,20.5,9.38889,18.4444
0,Virginia,United_States,Virginia,United_States,region,The DC suburbs of Northern Virginia contrast w...,None,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

In [125]:
CITIES_NOT_FOUND

[]

In [126]:
LOCATION_DATA.to_excel(r'D:\Acads\Career\ICICI\Work\Location_Data_3.xlsx', index = False)